<br>
<div>
    <form [formGroup]="myForm" #formDir="ngForm" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" placeholder="Nome" >
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput type="tel" size="11"
            maxLength="11" formControlName="telefone" placeholder="Telefone" >
        </mat-form-field>
    </form>
</div>

<div>
    <button mat-button (click)="inserir()" color="primary">Adicionar</button>
    <button mat-button (click)="limpar()">Limpar</button>
</div>
<br>

<app-table [person]="getPersons()"></app-table>