<mat-form-field appearance="standard">
  <mat-label>Busca</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
</mat-form-field>
<div class="demo-button-container">
  <button
      mat-raised-button
      [disabled]="!person.length"
      (click)="removeData()"
      class="demo-button">
    Remover último
  </button>
</div>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let persons"> {{  persons.nome  }} </td>
    </ng-container>
  
    <!-- Telefone Column -->
    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef> Telefone </th>
      <td mat-cell *matCellDef="let persons"> {{ persons.telefone }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>